<h1 class="py-4 text-center">This is Employees Page</h1>
<div class="container">
	<%= link_to 'Add', contact_static_pages_path, class:"btn btn-primary my-2" %>
	<table class="table table-stripped table-hover table-bordered">
		<tr>
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
				<th>Phone</th>
				<th>Address</th>
				<th>Action</th>
			</thead>
		</tr>
		<tbody>
		<% @employees.each do |employee| %>
			<tr>
				<td><%= employee.id %></td>
				<td><%= employee.name %></td>
				<td><%= employee.email %></td>
				<td><%= employee.password %></td>
				<td><%= employee.phone %></td>
				<td><%= employee.address %></td>
				<td colspan="2">
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>