<div class="container">
	<h2 class="text-center card my-2">Employee Detail</h2>
	<div class="row shadow p-3">
		<div class="col-md-8 col-lg-8 col-sm-12 mx-auto">
			<div class="row text-center">
				<div class="col-md-6 col-lg-6 col-sm-12 card">
					<p class="card my-2">Id</p>
					<p class="card">Name</p>
					<p class="card">Email</p>
					<p class="card">Password</p>
					<p class="card">Phone</p>
					<p class="card">Address</p>
				</div>
				<div class="col-md-6 col-lg-6 col-sm-12 card">
					<p class="card my-2"><%= @emp2.id %></p>
					<p class="card"><%= @emp2.name %></p>
					<p class="card"><%= @emp2.email %></p>
					<p class="card"><%= @emp2.password %></p>
					<p class="card"><%= @emp2.phone %></p>
					<p class="card"><%= @emp2.address %></p>
				</div>
			</div>
		</div>
	</div>
</div>