<h1 class="py-5 text-center card m-5 text-uppercase fw-bold">This text is under tests controller</h1>


<div class="container">
  <div class="row">
  	<div class="col-md-12 col-lg-12 col-sm-12">
  		<%= link_to 'Add to Test', new_test_path, class: 'btn btn-primary my-2' %>
  		<table class="table">
  		  <tr>
  		  	<th>Id</th>
  		  	<th>Name</th>
  		  	<th>Email</th>
  		  	<th>Password</th>
  		  	<th>Mobile</th>
  		  	<th>Edit</th>
  		  	<th>Delete</th>
  		  </tr>

  		 <% @tests.each do |test| %>  
  		  <tr>
  		  	<td><%= test.id %></td>
  		  	<td><%= test.name %></td>
  		  	<td><%= test.email %></td>
  		  	<td><%= test.password %></td>
          <td><%= test.mobile %></td>
  		  	<td><%= link_to 'Edit', edit_test_path(test.id), class: 'btn btn-primary' %></td>
          <td><%= button_to 'Delete', test_path(test), class: 'btn btn-danger', method: :delete %></td>


  		  </tr>
  		 <% end %>
  		</table>
  	</div>
  </div>
</div>